extends layout

block content
    h1 Cars Detail

    if (toShow == null)
        h2 No instance found
    else
        - let carid = toShow._id
        - let name = toShow.car_name
        - let carmodel = toShow.model
        - let carpower = toShow.power

        div(class="mb-3")
            div.row.mb-2
                div(class='carAttr mr-3 font-weight-bold') Car ID:
                div #{carid}
            div.row.mb-2
                div(class='carAttr mr-3 font-weight-bold') Car Name:
                div #{name}
            div.row.mb-2
                div(class='carAttr mr-3 font-weight-bold') Car model:
                div #{carmodel}
            div.row.mb-2
                div(class='carAttr mr-3 font-weight-bold') Car power:
                div #{carpower}

        button(class="btn btn-secondary mt-3" onclick="goBack()") Go Back

    script.
        function goBack() {
            window.location.href = "/cars";
        }
